# Clojure
checkouts
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures

# Elm
elm-stuff/

# Haskell
.stack-work

# Node
node_modules

# Ocaml
_build/
.merlin

# Python
__pycache__
.pytest_cache
*.pyc

# Ruby
.gems
.byebug_history

# Scala
target
scala/**/project

# OS
.DS_Store
