# Ruby
.gems
.byebug_history

# Haskell
.stack-work

# Scala
target
scala/**/project

# Clojure
checkouts
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures

# Ocaml
_build/
.merlin

# Elm
elm-stuff/

# OS
.DS_Store
